transaction-service/src/main/resources/scheme/HelloSchema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://localhost/HelloEndpoint"
           xmlns:tns="http://localhost/HelloEndpoint"
           elementFormDefault="qualified">

    <xs:element name="HelloRequest" type="tns:ProviderRequestType"/>

    <xs:complexType name="ProviderRequestType">
        <xs:sequence>
            <xs:element name="jwtToken" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="HelloResponse">
        <xs:sequence>
            <xs:element name="jwtToken" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

</xs:schema>
